* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

div.content {
    flex: 1;
}

div.info {
    margin: auto;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #59595D;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.download {
    font-size: 20px;
    display: inline-flex;
}

.appstore-download {
    height: 47px;
    padding: 0 10px;
}

#version {
    font-size: 12px;
    vertical-align: middle;
}

.align-left {
    text-align: left;
}

.footer {
    margin: auto;
    text-align: right;
    padding: 10px;
    width: 100%;
}

.footer>* {
    display: block;
    text-align: center;
}

.social {
    font-size: 40px;
    color: #000;
}

a {
    color: #2aa5e8;
}

#donate-button {
    height: 50px;
}

.logo {
    width: 60px;
    height: 60px;
}


h1 {
    font-size: 70px;
    text-align: center;
    color: #2aa5e8;
}

h2 {
    text-align: center;
    color: #59595D;
}

.btn {
    background-color: #2aa5e8;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #067ebf;
}

.background {
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgba(42, 165, 232, 0.3), rgba(255, 255, 255, 0));
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 999px) {

    .head {
        text-align: center;
        display: block;
    }

    .logo {
        width: 90px;
        height: 90px;
    }

    .download,
    .download>* {
        display: block;
        margin: 10px 0;
    }

    #download-link>.btn {
        width: 184px;
        height: 47px;
        padding: 12px 5px;
        font-size: 18px;
    }

    h1 {
        font-size: 50px;
    }

    div.info {
        width: 80%;
    }
}