* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

div.content {
    flex: 1;
}

.info {
    margin: auto;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #59595D;
}

.info.large {
    width: 60%;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    width: 60%;
    margin: auto;
}

.head a {
    text-decoration: none;
}

.head .brand {
    display: flex;
}

.head .title {
    text-decoration: none;
    color: #49bddf;
    font-size: 40px;
    line-height: 70px;
    font-weight: bold;
    padding-left: 10px;
}

.download {
    font-size: 20px;
    display: inline-flex;
}

.appstore-download {
    height: 47px;
    padding: 0 10px;
}

#version {
    font-size: 12px;
    vertical-align: middle;
}

.align-left {
    text-align: left;
}

.footer {
    margin: auto;
    text-align: right;
    padding: 10px;
    width: 100%;
}

.footer>* {
    display: block;
    text-align: center;
}

.social {
    font-size: 50px;
    color: #000;
}

a {
    color: #49bddf;
}

#donate-button {
    height: 50px;
}

.logo {
    width: 70px;
    height: 70px;
}


h1 {
    font-size: 70px;
    text-align: center;
    color: #49bddf;
}

h2 {
    text-align: center;
    color: #59595D;
}

.btn {
    background-color: #49bddf;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn.gray {
    background-color: #9d9d9d;
}

.btn.paypal {
    background-color: #ffd140;
    color: #003087;
}

.btn:hover {
    background-color: #067ebf;
}

.btn.gray:hover {
    background-color: #737373;
}

.btn.paypal:hover {
    background-color: #f7c112;
}

.background {
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgba(42, 165, 232, 0.3), rgba(255, 255, 255, 0));
    position: relative;
    display: flex;
    flex-direction: column;
}

/* IMG COMP */

.img-comp-container {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: #555 0px 2px 5px;
}

.img-comp-img {
    width: 100%;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
}

.img-comp-base img {
    width: 100%;
}

.img-comp-overlay img {
    height: 100%;
}

.img-comp-overlay {
    position: absolute;
    top: 0px;
    height: 100%;
}

.img-comp-slider {
    position: absolute;
    height: 100%;
    background: #49bddf;
    opacity: 0.7;
    width: 5px;
    top: 0;
    overflow: visible;
    z-index: 9;
    transform: translateX(-50%);
    cursor: ew-resize;
}

.img-comp-slider::after {
    content: " ";
    transform: translate(-50%, -50%);
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #49bddf;
    border-radius: 50%;
    top: 50%;
}

code.brew::before {
    content: "$";
    padding-right: 10px;
}

code {
    background: #444;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
}

code .copy-btn {
    padding-left: 10px;
    cursor: pointer;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #0000006e;
    z-index: 10;
}

.modal-window {
    padding: 8px;
    display: block;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: #706f6f 0px 2px 5px;
    font-size: 18px;
    text-align: center;
    background: none;
    overflow: hidden;
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    background: #ffffff80;
}

.modal-content {
    padding: 32px;
    max-height: 80vh;
    overflow: auto;
}

.modal-content {
    font-size: 20px;
}

.modal-content h2 {
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 30px;
}

.modal-content p {
    margin: 0;
    margin-bottom: 25px;
}

.animated-text {
    --bg-size: 300%;
    --color-bright: #ffe0b1;
    --color-dark: #fdaf13;
    color: transparent;
    background: linear-gradient(90deg, var(--color-bright), var(--color-dark), var(--color-bright)) 0 0 / var(--bg-size) 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animated-gradient 5s infinite ease-out;
}

@keyframes animated-gradient {
    to {
        background-position: var(--bg-size) 0;
    }
}

.hidden {
    display: none;
}

@media screen and (max-width: 1260px) {

    .head {
        text-align: center;
        display: block;
        width: 100%;
        margin: 0;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .head .brand {
        justify-content: center;
    }

    .head .title {
        line-height: 80px;
    }

    .download,
    .download>* {
        display: block;
        margin: 10px 0;
    }

    #download-link>.btn {
        width: 184px;
        height: 47px;
        padding: 12px 5px;
        font-size: 18px;
    }

    h1 {
        font-size: 50px;
    }

    .info {
        width: 80%;
    }

    .info.large {
        width: 90%;
    }
}

@media screen and (max-width: 999px) {
    code {
        font-size: 12px;
        line-break: anywhere;
        display: block;
    }

    code .copy-btn {
        display: none;
    }

    .modal-content .btn {
        width: 100%;
        margin: 8px;
    }
}