body {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    ;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

div.info {
    margin: auto;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #59595D;
}

div.head {
    display: flex;
}

a.download {
    font-size: 20px;
    margin: 15px;
    margin-right: 30px;
    margin-left: auto;
    display: float;
    float: right;
    margin-top: 18px;
}

.legal {
    margin: auto;
    text-align: right;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

a {
    color: #2aa5e8;
}

#donate-button {
    height: 50px;
}

img.logo {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    display: float;
    float: left;
    margin-top: 10px;
}


h1 {
    font-size: 70px;
    text-align: center;
    color: #2aa5e8;
}

h2 {
    text-align: center;
    color: #59595D;
}

.btn {
    background-color: #2aa5e8;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
}

.btn:hover {
    background-color: #067ebf;
}

.full_heigth {
    min-height: 100%;
}

#gradient {
    background-image: linear-gradient(to bottom, rgba(42, 165, 232, 0.3), rgba(255, 255, 255, 0));
    position: relative;
}

@media screen and (max-width: 999px) {
    h1 {
        font-size: 50px;
    }

    div.info {
        width: 80%;
    }
}